<h1 align="center">About BeCounted</h1>
<p>
	BeCounted began in early 2008 at Stanford, and aims to improve access to 
	voting information for college students.  John Nantz, who grew up in Missouri, 
	recognized how difficult it was for kids in his situation (from a competitive
	state but going to college in another state) to get the registration and absentee
	information they needed to be able to vote.  Over the next few months, he built
	a team and collected registration and absentee voting information for all 50
	states (plus D.C.!), all 3800+ counties, and some 3000+ towns.
</p>
<p>Contact us at <a href="mailto:BeCounted2008@gmail.com">BeCounted2008@gmail.com</a> with questions, comments, etc!</p>
<style>
table.about td { vertical-align: top; padding-bottom: 1em; }
table.about img.left { float: left; margin-right: 1em; margin-top: 1em; }
table.about h5 { color:#808080; }
</style>
<table class="about">
	<tr>
		<td id="John">
			<h3>John Nantz</h3>
			<h5>BeCounted Leader</h5>
			<%= image_tag('john.jpg', :size => '130x100', :class => 'left') %>
			<p></p>
		</td>
		<td id="Nate">
			<h3>Nate Hardison</h3>
			<h5>Lead Developer</h5>
			<%= image_tag('nate.jpg', :size => '130x130', 
:class => 'left') %>
			<p>Nate started working on BeCounted in early 2008.  He's now 
			a senior at Stanford majoring in Symbolic Systems and hoping to stick around 
			for grad school in CS.</p>
		</td>
	</tr>
	<tr>
		<td id="MichaelT">
			<h3>Michael Terrell</h3>
			<h5>BeCounted Co-Director/Director of External Relations</h5>
			<%= image_tag('michael_t.jpg', :size => '100x130', :class => 'left') %>
			<p>I am a Stanford Sophomore whose primary BeCounted involvement revolves
			around spreading the word about our application to as many campuses, media
			outlets, political groups, and students as possible.</p>
		</td>
		<td id="MichaelH">
			<h3>Michael Huang</h3>
			<h5>Web/Graphic Designer</h5>
			<%= image_tag('michael_h.jpg', :size => '100x120', :class => 'left') %>
			<p>Michael initially signed up to do the logo. Then he did some 
            information design and mockups and visuals and stylesheets and t-shirts. He is especially
            proud of the achievements, an idea brazenly ripped off from video games.
            Michael graduated Stanford '07 Symbolic Systems and loves Berkeley living.</p>
		</td>
	</tr>
	<tr>
		<td id="AndrewE">
			<h3>Andrew Ehrich</h3>
			<h5>Director of Asymmetric Approaches</h5>
			<%= image_tag('andrew_e.jpg', :size => '100x100', :class => 'left') %>
			<p>
				Andrew hails from Los Angeles but doesn't surf, loves the New York Mets, and hates driving.  
				He channels his love towards BeCounted, working on finding the most enthusiastic people from 
				around the country to spread the application far and wide.
			</p>
		</td>
		<td id="Mike">
			<h3>Mike Mintz</h3>
			<h5>Engineer</h5>
			<%= image_tag('mike_e.jpg', :size => '100x100', :class => 'left') %>
			<p>Mike is a senior at Stanford majoring in Symbolic Systems and coterming in Computer Science, 
			with a concentration in Artificial Intelligence.</p>
		</td>
	</tr>
	<tr>
		<td id="Ellen">
			<h3>Ellen Cerf</h3>
			<h5>Media Director</h5>
			<%= image_tag('ellen.jpg', :size => '100x140') %>
			<p>Ellen has worked for six months on the Be Counted project, starting as
			 a data collector and 
			now acting as the media director. She can't wait to get the word out about the app!
			</p>
		</td>
	</tr>
</table>
