<% @feeds.each do |feed| -%>
	<% friend = @my_friends_with_app[feed[:user_id]] -%>
	<%
	    if feed[:status_id].nil?
			message = feed.action.minifeed_suffix(friend)
			points = feed.action::POINTS
		else
			message = Status.accomplishment_for(feed.status_id)
			points = nil
		end
	%>
    <div class="bc_clearfix">
    </div>
    <div class="bc_message_box">
        <div class="bc_icon">
            <a href=""><img src="<%= image_path('blue_icon.png') %>" /></a>
            <!-- <fb:profile-pic uid="<%=friend.fb_uid%>" size="square" linked="false"/> -->
        </div>
        <div class="bc_message">
            <span class="bc_message_main_text"><b><fb:name uid="<%=friend.fb_uid%>" useyou="false" capitalize="true" linked="false"/><span style="color:#3b5998;">&nbsp;<%= message %>&nbsp;</span></b>
                <% if !friend.voting_state.nil? && !friend.voting_method.nil? -%>
        			<span class="voting_info"><%= "#{friend.voting_state.code}, #{friend.voting_method::TITLE}." %></span>
        		<% else -%>
    			    <span class="voting_info">awaiting info</span>
    			<% end -%>
    		</span>
    		<% if !points.nil? && !points.zero? -%>
                <span class="bc_points">+<%= pluralize(points, 'pt') %></span>
            <% else -%>
                <span class="bc_points"></span>
            <% end -%>
        </div>
    </div>
<% end %>
