<div>
    <p>So, given that&hellip;</p>
    <table class="subtle">
    <tr><th>Your county:</th><td><%= h(@info[:county].name.titlecase) %></td></tr>
    <tr><th>Your town:</th><td><%= h(@info[:town].name.titlecase) %></td></tr>
    <tr><th>Your ZIP code:</th><td><%= h(@info[:zip_code].zip_code) %></td></tr>
    </table>
    <p>We've concluded this is your local elections office:</p>
    <% if @info[:address].nil? -%>
        <p>We're sorry, we don't have updated information for you at this time.</p>
    <% else -%>
        <%= @info[:address].to_html %>
    <% end -%>
    <p>If this looks right, we'll store this info to show you whenever you need it. 
    If you're having trouble with finding your local elections office, <a href="mailto:BeCounted2008@gmail.com">email us</a>.</p>
    
    <!--div style="width: 100%; margin: 0px 0px 0px 0px;">
		<div style="width: 200px; float: left;">
		<h4>Your location:</h4>
    	<ul style="list-style-type: none">
        	<li>Your county:&nbsp;<%= h(@info[:county].name.titlecase) %></li>
        	<li>Your town:&nbsp;<%= h(@info[:town].name.titlecase) %></li>
        	<li>Your zip code:&nbsp;<%= h(@info[:zip_code].zip_code) %></li>
    	</ul>
		</div>
		<div style="width: 200px; float: left;">
			<h4>Your local elections office:</h4>
			<% if @info[:address].nil? -%>
				<p>We're sorry, we don't have updated information for you at this time.</p>
			<% else -%>
				<%= @info[:address].to_html %>
			<% end -%>
		</div>
	</div>
	<div align="center" style="margin: 10px 0px 20px 0px;">
		<p>
			Don't worry about writing this down&mdash;we'll show it to you when you need it, and you
			can always access it on your BeCounted profile page.
		</p>
    	<h4 align="center">If this information's not right, just restart this dialog.</h4>
	</div-->	
</div>
